

.container-text-volleyball {
  box-sizing: border-box;
  min-height: 900px;
  padding: 50px 0px;
  background-image: url("../../../../assets/Club/volleyball.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.block-text-volleyball {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 45%;
  margin-left: auto;
  margin-right: 60px;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
}

.p-1-volleyball {
  font-size: 28px;
  max-width: 600px;
}
.p-2-volleyball {
  font-size: 28px;
  max-width: 600px;
  margin-top: 75px;
}

@media screen and (max-width: 1150px) {
  .container-text-volleyball {
    min-height: 700px;
    background-size: inherit;
    background-position: top;
  }
  .block-text-volleyball {
    max-width: 60%;
    margin-right: 40px;
  }
  .p-1-volleyball {
    font-size: 28px;
  }
  .p-2-volleyball {
    font-size: 28px;
  }
}

@media screen and (max-width: 780px) {
  .container-text-volleyball {
    min-height: 650px;
    background-size: inherit;
    background-position: top;
  }
  .block-text-volleyball {
    max-width: 74%;
    margin-right: 20px;
  }
  .p-1-volleyball {
    font-size: 24px;
  }
  .p-2-volleyball {
    font-size: 24px;
  }
}

@media screen and (max-width: 580px) {
  .container-text-volleyball {
    min-height: 580px;
  }
  .block-text-volleyball {
    max-width: 88%;
    margin-right: 0px;
  }
  .p-1-volleyball {
    font-size: 18px;
  }
  .p-2-volleyball {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .container-text-volleyball {
    min-height: 600px;
  }
  .block-text-volleyball {
    max-width: 100%;
    margin-right: 0px;
  }
  .p-1-volleyball {
    font-size: 16px;
  }
  .p-2-volleyball {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .container-text-volleyball {
    min-height: 550px;
    height: 100%;
    padding: 20px 0px;
  }
  .block-text-volleyball {
    max-width: 100%;
    margin-right: 0px;
  }
  .p-1-volleyball {
    font-size: 16px;
  }
  .p-2-volleyball {
    font-size: 16px;
  }
}