.container-info-contact {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 12px 0px 12px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.contact-header {
  color: #4bc0d0;
  display: flex;
  flex-direction: column;
  font-size: 56px;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  font-family: "Rubik Mono One", sans-serif;
}
.contact-full-information {
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0px 25px 0px;
  align-content: space-around;
  justify-content: space-around;
}

.address {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.address h3,
.email h3,
.phone-number h3 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-family: "Rubik Mono One", sans-serif;
  color: #4bc0d0;
  font-size: 26px;
  letter-spacing: 3px;
}

.info-address,
.info-email,
.info-phone-number {
  /* width: 100%; */
  margin-left: 42px;
}
.info-address h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.info-address p,
.info-email p,
.info-phone-number p {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.email {
  grid-column: 2;
  max-width: 235px;
  width: 100%;
}
.phone-number {
  grid-column: 2;
  max-width: 235px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .contact-full-information {
    /* grid-template-rows: 1fr 0.5fr 0.5fr; */
    justify-items: baseline;
    justify-content: start;
  }
  .contact-header h2 {
    font-size: 28px;
  }
  .address,
  .email,
  .phone-number {
    grid-column: inherit;
  }

  .address h3,
  .email h3,
  .phone-number h3 {
    font-size: 20px;
  }

  .email {
    margin-top: 25px;
  }
  .email,
  .phone-number {
    height: 100px;
  }
}
