/* Schedule */
.schedule-wrapper {
  background-image: url("../../assets/Schedule/bg-schedule.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.schedule-header {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}
.schedule-header h2 {
  font-size: 60px;
  color: #4bc0d0;
  font-family: "Rubik Mono One", sans-serif;
}
.schedule-header p {
  font-size: 32px;
  text-align: end;
  color: #4bc0d0;
}
.container {
  margin: 25px 0px 0px 0px;
}

.schedule {
  display: grid;
  /*                           DATE                TIME                Discipline            Group              Place    */
  grid-template-columns: minmax(120px, 0.25fr) minmax(120px, 0.25fr) minmax(175px, 0.25fr) minmax(120px, 0.25fr) minmax(180px, 0.35fr);
  grid-template-rows: 55rem;
  gap: 0px 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-data {
  display: block;
  min-height: 100%;
  border-right: 4px solid #4bc0d0;
  margin-right: 10px;
  padding-right: 10px;
}
.cel-data {
  max-width: 175px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cel-nodata {
  max-width: 175px;
  width: 100%;
  max-height: 100px;
  height: 100%;
}
.cel-time-header {
  max-width: 175px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cel-time {
  height: 100%;
  max-height: 120px;
  margin-bottom: 30px;
  max-width: 175px;
  width: 100%;
}
.time-info {
  max-height: 35px;
  height: 100%;
  max-width: 175px;
  width: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cel-discipline-header {
  max-width: 225px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cel-discipline {
  height: 100%;
  max-height: 120px;
  margin-bottom: 30px;
  max-width: 225px;
  width: 100%;
}
.discipline-info {
  max-height: 35px;
  height: 100%;
  max-width: 225px;
  width: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cel-group-header {
  max-width: 175px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cel-group {
  height: 100%;
  max-height: 120px;
  margin-bottom: 30px;
  max-width: 175px;
  width: 100%;
}
.group-info {
  max-height: 35px;
  height: 100%;
  max-width: 175px;
  width: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cel-place-header {
  max-width: 300px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cel-place {
  height: 100%;
  max-height: 120px;
  margin-bottom: 30px;
  max-width: 300px;
  width: 100%;
}

.place-info {
  max-height: 35px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  background-color: #4bc0d0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* schedule */
@media screen and (max-width: 1100px) {
  .cel-time-header,
  .cel-discipline-header,
  .cel-group-header,
  .cel-place-header {
    font-size: 16px;
  }
  .cel-data {
    font-size: 26px;
  }
  .place-info,
  .cel-group,
  .cel-discipline,
  .cel-time {
    font-size: 12px;
  }
  .slider-container {
    background-position: unset;
  }
  .schedule {
    margin: 0px 5px;
    /* overflow: auto; */
    justify-content: center;
    /* grid-template-columns: minmax(110px, 1fr) minmax(90px, 1fr) minmax(120px, 1fr) minmax(95px, 1fr) minmax(150px, 1fr); */
    grid-template-columns: repeat(5, 1fr);
  }
  .cel-place-header {
    text-align: center;
  }
}

@media screen and (max-width: 725px) {
  .schedule {
    gap: 0px 2px;
  }
  .schedule-header h2 {
    font-size: 20px;
  }
  .schedule-header p {
    font-size: 18px;
    text-align: end;
  }
  .cel-data {
    font-size: 18px;
  }
  .cel-time-header,
  .cel-discipline-header,
  .cel-group-header,
  .cel-place-header {
    font-size: 10px;
    text-align: center;
  }
  .cel-data {
    font-size: 22px;
    text-align: center;
  }
  .place-info,
  .cel-group,
  .cel-discipline,
  .cel-time {
    font-size: 10px;
    text-align: center;
  }
}
